<a href="https://colab.research.google.com/github/PrashanthiThirunahari/23CSBTB50/blob/main/listtypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Implement Basic Datastructure using Numpy , Pandas

In [7]:
lst={2:4,5:25,3:9,8:64,6:36}
print(lst)
print(type(lst))

{2: 4, 5: 25, 3: 9, 8: 64, 6: 36}
<class 'dict'>

In [8]:
lst=(2,3,1,6,5)
print(lst)
print(type(lst))

(2, 3, 1, 6, 5)
<class 'tuple'>

In [9]:
lst=[2,3,4,5,6,1]
print(lst)
print(type(lst))

[2, 3, 4, 5, 6, 1]
<class 'list'>

In [10]:
lst={1:"apple",2:"banana",3:"grapes",4:"oranges"}
print(lst)
print(type(lst))

{1: 'apple', 2: 'banana', 3: 'grapes', 4: 'oranges'}
<class 'dict'>

In [12]:
lst="welcome to SR University"
print(lst)
print(type(lst))

welcome to SR University
<class 'str'>

In [13]:
lst=2.5
print(lst)
print(type(lst))

2.5
<class 'float'>

In [15]:
lst=2j+6
print(lst)
print(type(lst))

(6+2j)
<class 'complex'>

In [19]:
import numpy as np
arry=np.array([2,3,4,5,6])
print(arry)
print(type(arry))

[2 3 4 5 6]
<class 'numpy.ndarray'>